:root {
  --main-gray: #1d1e22;
  --gray: hsl(227.3684210526deg 12.2580645161% 30.3921568627%);
  --lighter-gray: hsl(227.3684210526deg 12.2580645161% 50.3921568627%);
  --darker-gray: hsl(227.3684210526deg 12.2580645161% 20.3921568627%);
  --background-color: var(--main-gray);
  --button-background-color: var(--gray);
  --navbar-background-color: var(--main-gray);
  --button-color: aliceblue;
  --header-author-color: var(--lighter-gray);
  --sign-up-button-background-color: lightgreen;
  --sign-up-button-color: var(--gray);
  --editor-background-color: var(--main-gray);
  --editor-color: var(--lighter-gray);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  display: grid;
  height: 100vh;
  grid-template-rows: 53px 1fr 33px;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-color);
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  display: grid;
  height: 53px;
  grid-template-columns: minmax(100px, 1fr);
  grid-auto-flow: column;
  padding: 8px 10px;
  border-bottom: 1px solid var(--darker-gray);
}

.header-title {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: 50% 50%;
  align-items: center;
  column-gap: 10px;
}

.header-title h1 {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
}

.header-title h3 {
  color: var(--header-author-color);
  white-space: nowrap;
  font-size: 13px;
}

.logo-svg-wrapper {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-row: 1 / 3;
  height: 100%;
  width: 100%;
}

.logo-svg {
  height: 30px;
  width: 30px;
  background-color: white;
}

.header-navbar-list {
  display: grid;
  background-color: var(--navbar-background-color);
  justify-items: center;
  align-items: stretch;
  grid-auto-flow: column;
  height: 100%;
  list-style-type: none;
  gap: 15px;
}

.header-navbar-button {
  border-radius: 4px;
  border: 0;
  color: var(--button-color);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--button-background-color);
  padding: 10px;
  width: 100%;
}

.sign-up {
  background-color: var(--sign-up-button-background-color);
  color: var(--sign-up-button-color);
}

.main {
  display: grid;
  margin-top: 5px;
  grid-template-rows: auto 1fr 1.5fr;
}

.large-width-section {
  display: none;
}

.main-settings-bar {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.main-settings-bar-tabs {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  justify-items: start;
  grid-auto-columns: min-content;
  gap: 2px;
}

.main-settings-bar-settings {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  justify-items: center;
  align-items: center;
}

.main-settings-bar-settings li {
  margin-right: 5px;
}

.main-settings-bar-settings .main-settings-button {
  border-radius: 2px;
  padding: 5px 10px;
}

.main-settings-bar-tabs li:nth-child(1) {
  margin-left: 5px;
}

.main-settings-button {
  border: 0;
  color: var(--button-color);
  font-size: 15px;
  background-color: var(--button-background-color);
  padding: 10px 20px;
  width: 100%;
}

.editor-selection {
  background-color: var(--darker-gray);
}

.editor-selection.selected {
  background-color: var(--gray);
}

.main-code-editor-wrapper-textarea {
  height: 100%;
  width: 100%;
}

.main-code-editor.large-width-section {
  grid-template-columns: repeat(3, 33.3%);
}

.main-code-editor.large-width-section > div {
  margin: 0px 10px;
}

.main-code-editor textarea {
  height: 100%;
  width: 100%;
  background-color: var(--editor-background-color);
  color: var(--editor-color);
  display: none;
}

.main-code-editor textarea.open {
  display: block;
}

.main-result-iframe {
  background-color: white;
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

.footer-menu:nth-of-type(2) {
  gap: 10px;
  margin: 0px;
  flex: 0;
}

.footer-menu-item button {
  border: 0;
  color: var(--button-color);
  font-size: 15px;
  background-color: var(--button-background-color);
  border-radius: 2px;
  padding: 3px 10px;
}

@media only screen and (min-width: 768px) {
  .small-width-section {
    display: none;
  }

  .large-width-section {
    display: grid;
  }

  .main {
    grid-template-rows: 1fr 1.5fr;
  }
}
