* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #1d1e22;
  height: 100vh;
}

.header {
  display: grid;
  height: 53px;
  grid-template-columns: minmax(150px, 1fr) min-content;
}

.header-title {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50% 50%;
  overflow: hidden;
  white-space: nowrap;
}

.logo-svg {
  grid-row: 1 / 3;
}

h1 {
  width: 150px;
}

.header-navbar-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style-type: none;
}

.logo-svg {
  height: 50px;
  width: 30px;
}
